---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Calculator from "../components/Calculator.tsx";
import { H1, H3, Em28, P21 } from "../components/Typeography.tsx";
---

<Layout title="The vs. Trump Fund.">
  <main>
    <section class="py-16 max-w-[960px] mx-8 lg:mx-auto">
      <H1>
        <span class="text-sun">vs.<br />TRUMP</span><br />FUND
      </H1>
      <H3 className="border-t-2 border-medium mt-24 pt-8">
        Backed by evidence and vouched for by experts - we’ve done the research
        to give you <span class="text-sun">a one-stop-shop to defeat Trump</span
        >.
      </H3>
      <div class="flex flex-col pt-16">
        <div
          class="flex flex-wrap lg:flex-nowrap lg:space-x-8 border-b border-dark py-6"
        >
          <p class="text-white w-[304px] flex-shrink-0">
            <Em28>A portfolio of winning projects</Em28>
          </p>
          <P21 className="text-medium mt-8 lg:mt-0">
            Each project is approved by professional donor advisors and based on
            metrics such as cost-per-vote.
          </P21>
        </div>
        <div
          class="flex flex-wrap lg:flex-nowrap lg:space-x-8 border-b border-dark py-6"
        >
          <p class="text-white w-[304px] flex-shrink-0">
            <Em28>2X your impact by giving early</Em28>
          </p>
          <P21 className="text-medium mt-8 lg:mt-0">
            Giving in the first half of 2024 is 2X as impactful as giving close
            to the election. <a class="text-sun underline" href="#"
              >Read the blog post</a
            >.
          </P21>
        </div>
        <div
          class="flex flex-wrap lg:flex-nowrap lg:space-x-8 border-b border-dark py-6"
        >
          <p class="text-white w-[304px] flex-shrink-0">
            <Em28>We don’t touch your donations.</Em28>
          </p>
          <P21 className="text-medium mt-8 lg:mt-0">
            You donate directly to the organizations through our trusted partner
            <a class="text-sun underline" href="#">ActBlue</a>.
          </P21>
        </div>
      </div>
    </section>
    <div class="bg-sun text-darkest">
      <section class="py-16 max-w-[960px] m-auto"></section>
    </div>
  </main>
  <section>
    <!-- <Calculator client:load /> -->
  </section>
</Layout>
