---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-darkest text-medium scroll-smooth">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0VY3ZD6W1R"
    ></script>
    <script>
      // disable typescript checking here entirely
      // @ts-nocheck
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      window.gtag = window.gtag || gtag;
      gtag("js", new Date());
      gtag("config", "G-0VY3ZD6W1R");
    </script>

    <!-- basic meta -->
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="vs. Trump Fund - Backed by evidence and vouched for by experts - we’ve done the research to give you a strategy to defeat Trump."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- CONSIDER get a Twitter handle <meta name="twitter:site" content="@vsTrumpFund" /> -->
    <meta name="twitter:title" content="vs. Trump Fund" />
    <meta
      name="twitter:description"
      content="Backed by evidence and vouched for by experts - we’ve done the research to give you a strategy to defeat Trump."
    />
    <meta
      name="twitter:image"
      content="https://vstrump.org/img/vs_trump_fund-800x418.png"
    />

    <!-- Facebook (open graph) -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="vs. Trump Fund" />
    <meta
      property="og:description"
      content="Backed by evidence and vouched for by experts - we’ve done the research to give you a strategy to defeat Trump."
    />
    <meta
      property="og:image"
      content="https://vstrump.org/img/vs_trump_fund-1200x630.png"
    />
    <meta property="og:url" content="https://vstrump.org/" />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Switzer";
    src:
      url("/fonts/Switzer-Bold.woff2") format("woff2"),
      url("/fonts/Switzer-Bold.woff") format("woff"),
      url("/fonts/Switzer-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Switzer";
    src:
      url("/fonts/Switzer-Medium.woff2") format("woff2"),
      url("/fonts/Switzer-Medium.woff") format("woff"),
      url("/fonts/Switzer-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Switzer";
    src:
      url("/fonts/Switzer-Regular.woff2") format("woff2"),
      url("/fonts/Switzer-Regular.woff") format("woff"),
      url("/fonts/Switzer-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Switzer";
    src:
      url("/fonts/Switzer-Light.woff2") format("woff2"),
      url("/fonts/Switzer-Light.woff") format("woff"),
      url("/fonts/Switzer-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Plein";
    src:
      url("/fonts/Plein-Bold.woff2") format("woff2"),
      url("/fonts/Plein-Bold.woff") format("woff"),
      url("/fonts/Plein-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Plein";
    src:
      url("/fonts/Plein-BoldItalic.woff2") format("woff2"),
      url("/fonts/Plein-BoldItalic.woff") format("woff"),
      url("/fonts/Plein-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
  }

  @font-face {
    font-family: "Plein";
    src:
      url("/fonts/Plein-Regular.woff2") format("woff2"),
      url("/fonts/Plein-Regular.woff") format("woff"),
      url("/fonts/Plein-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Plein";
    src:
      url("/fonts/Plein-Italic.woff2") format("woff2"),
      url("/fonts/Plein-Italic.woff") format("woff"),
      url("/fonts/Plein-Italic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
  }

  html {
    /* disable font antialiasing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
